doctype html 
html(lang="en")
    head    
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Monoton&family=Poppins&family=Roboto&family=Shantell+Sans:wght@300&display=swap", rel="stylesheet")
        style   
            include ./../public/error.css
        
    body 
        .container
            .gif
                img(src="/error.gif")
            
            .content
                span(class="oops") oops! 🥲
                    br
                span(class="code") Error code #{error_code}
                p #{error_message}
                    br
                    br
                p Here are some usefull links instead:  👇

                ul 
                    li 
                        a(href="/home") Home
                    li 
                        a(href="/getallquotes") quotes
                    li 
                        a(href="/addquote") Add quotes