doctype html 
html(lang="en")
    head    
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title} 
        
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Monoton&family=Poppins&family=Roboto&family=Shantell+Sans:wght@300&display=swap", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Monoton&family=Poppins&family=Roboto&family=Sacramento&family=Shantell+Sans:wght@300&display=swap", rel="stylesheet")
        style   
            include ./../public/main_layout.css
        block style

    body 
        nav 
            div Quotes
                span(style="color: #b34e8e") 4
                span life
            ul 
                li 
                    a(href="/home", class=(path =='/home' ? 'active' : '')) Home
                li 
                    a(href="/getallquotes", class=(path =='/getallquotes' ? 'active' : '')) Quotes
                li 
                    a(href="/addquote", class=(path =='/addquote' ? 'active' : '')) Add quotes
        
        block content
        