<nav>
    <div>Quotes<span style="color: #b34e8e">4</span>life</div>
    <ul>
        <li><a href="/home" class="<%= path === '/home'? 'active' : '' %>">Home</a></li>
        <li><a href="/getallquotes" class="<%= path === '/getallquotes'? 'active' : '' %>">Quotes</a></li>
        <li><a href="/addquote" class="<%= path === '/addquote'? 'active' : '' %>">Add quotes</a></li>
    </ul>
</nav>